        @import 'https://fonts.googleapis.com/css?family=Ubuntu';
        body {
            font-family: 'Ubuntu', sans-serif;
        }
        .bg-dark { 
            background: indigo!important; 
        }
        .img-icon {
            margin-right: 12px;
        }
        .txt-header {
            color: #CBBDE2; 
        }
        .txt-about {
            color: indigo;
        }
        .img-thumb {
            align-self: center;
            padding-top: 16px;
            width:55%;
        }
        .card-title-align-center {
            text-align: center
        }